$black: #000;
$white: #fff;

$main_grey: #F0EEEB;
$dark_grey: #D1CCC3;
$copy_grey: #787672;

$blue: #1E2E50;
$teal: #009E99;

$asia: #006664;
$europe: #046B8E;
$global: #DE7900;
$uk: #3B8AC9;

$clear_filters: #AA4C02;

.colour-white {
    color: $white;
}

.colour-blue {
    color: $blue;
}

.colour-copy-grey {
    color: $copy_grey;
}